# Used for Posthog analytics
PUBLIC_POSTHOG_KEY=phc_your_posthog_project_key_here
# Used to upload source maps to sentry
SENTRY_AUTH_TOKEN='fake-token'
# Set to 'true' to proxy API requests to the local backend (http://localhost:8000) instead of using MSW mocks
PUBLIC_USE_REAL_API=false
